:root {
    --primary-color: #000000;
    --secondary-color: #F5F5F5;
    --hover-color: #60666d;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--secondary-color);
    background: url(./img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.header {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    margin-left: 15px;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.logo-text {
    margin: 15px 0px;
}

.logo {
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link {
    margin-right: 25px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: var(--hover-color);
}

.main-container {
    display: flex;
    height: 90vh;
}

.aside {
    width: 15%;
}

.search-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-label {
    font-size: 1.5rem;
}

.search-field {
    width: 70%;
    height: 25px;
    margin: 10px 0px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.search-btn:hover {
    background-color: var(--hover-color);
}

.search-btn:focus {
    outline: none;
}

.genre-container {
    margin-top: 50px;
}

h2 {
    margin: 0;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
}

li {
    margin: 8px;
}

.main {
    width: 85%;
    margin-top: 15px;
    margin-left: 20px;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px 35px;
}

.card {
    width: 300px;
    height: 380px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.3);
    text-align: center;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.03);
}

.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 230px;
    border-radius: 15px 15px 0px 0px; 
 }

.card-text-container {
    margin-top: 10px;
}

h3 {
    margin: 0;
}

p {
    margin: 3px 0px;
}

.footer {
    height: 4vh;
    font-size: 18px;
}

.fa-github {
    font-size: 15px;
}

/* Media Query: Large devices */
@media screen and (max-width: 1578px) {
    .aside {
        width: 230px;
    }

    .main {
        width: 100%;
    }

    .card-container {
        justify-content: space-evenly;
        padding-bottom: 50px;
        gap: 25px 5px;
    }

    .footer {
        position: fixed;
        width: 100vw;
        background: var(--primary-color);
    }
}

/* Media Query: Phone (Vertical) */
@media screen and (max-width: 600px) {
    .genre-container {
        margin-top: 10px;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .aside {
        width: 96vw;
    }

    .main {
        width: 90vw;
        margin-left: 0;
    }

    .card-container {
        justify-content: center;
        padding-bottom: 50px;
    }
}
